@keyframes flip-horizontal-bottom {
    0% {
      transform: rotateX(0);
    }
    to {
      transform: rotateX(-180deg);
    }
  }
  .stage1-child {
    position: absolute;
    top: 65.92px;
    left: 0;
    width: 1601px;
    height: 732.08px;
  }
  .rectangle-button,
  .stage1-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 1580px;
    height: 832px;
  }
  .rectangle-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-gainsboro);
    border-radius: var(--br-7xs);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 108px;
    height: 54px;
  }
  .home1 {
    position: absolute;
    top: 13px;
    left: 16px;
    font-weight: 600;
  }
  .rectangle-parent2 {
    position: absolute;
    top: 99px;
    left: 75px;
    width: 108px;
    height: 54px;
    font-family: var(--font-montserrat);
  }
  .group-child8 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-gainsboro);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-7xs);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 102.39px;
    height: 62.13px;
  }
  .back1 {
    position: absolute;
    top: 12.36px;
    left: 15.22px;
    font-weight: 600;
    display: inline-block;
    width: 77.05px;
    height: 36.04px;
  }
  .rectangle-parent3 {
    position: absolute;
    top: 99px;
    left: 1350px;
    width: 102.39px;
    height: 62.13px;
    font-family: var(--font-montserrat);
  }
  .jup-1-icon {
    position: absolute;
    top: 541px;
    left: 87px;
    width: 208px;
    height: 202.04px;
    object-fit: cover;
  }
  .group-child10,
  .group-child9 {
    position: absolute;
    left: 0;
    width: 396.27px;
  }
  .group-child9 {
    top: 0;
    background-color: var(--color-blue);
    height: 300.01px;
  }
  .group-child10 {
    top: 275.2px;
    background-color: #010415;
    height: 25.8px;
  }
  .vector-icon8 {
    position: absolute;
    height: 3.73%;
    width: 1.78%;
    top: 94.18%;
    right: 95.7%;
    bottom: 2.09%;
    left: 2.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .type-your-message2 {
    position: absolute;
    top: 284.52px;
    left: 24.55px;
    font-size: var(--font-size-3xs);
    font-weight: 500;
    color: var(--color-darkgray-100);
    display: inline-block;
    width: 127.53px;
    height: 9.64px;
  }
  .group-child11,
  .vector-icon9 {
    position: absolute;
    height: 3.28%;
    width: 3.24%;
    top: 94.18%;
    right: 8.18%;
    bottom: 2.55%;
    left: 88.58%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon9 {
    height: 3.32%;
    width: 3.69%;
    top: 94.2%;
    right: 1.61%;
    bottom: 2.49%;
    left: 94.69%;
  }
  .div3 {
    top: calc(50% + 2.66px);
    left: 70.3px;
  }
  .div3,
  .div4,
  .frame {
    position: absolute;
  }
  .frame {
    top: 21.81px;
    left: 14px;
    border-radius: var(--br-smi);
    background-color: var(--color-white);
    width: 89.45px;
    height: 16.64px;
  }
  .div4 {
    top: calc(50% + 2.16px);
    left: 85.3px;
  }
  .frame-div {
    position: absolute;
    top: 41.78px;
    left: 14px;
    border-radius: var(--br-smi);
    background-color: var(--color-white);
    width: 105.17px;
    height: 16.64px;
  }
  .div5 {
    position: absolute;
    top: calc(50% + 2.34px);
    left: 19px;
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .frame-item {
    position: absolute;
    height: 20.2%;
    width: 8.19%;
    top: 40.38%;
    right: 106.16%;
    bottom: 39.42%;
    left: -14.35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group {
    position: absolute;
    top: 56.39px;
    left: 390.45px;
    border-radius: var(--br-smi);
    background-color: var(--color-lightslategray);
    width: 89.45px;
    height: 16.64px;
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .group-child13,
  .rectangle-parent4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 396.27px;
    height: 301px;
  }
  .group-child13 {
    top: 275.2px;
    background-color: var(--color-white);
    height: 25.8px;
  }
  .group-parent1,
  .rectangle-parent5 {
    position: absolute;
    top: 0;
    left: 568px;
    width: 396.27px;
    height: 301px;
  }
  .group-parent1 {
    left: 0;
    width: 964.27px;
  }
  .group-child15,
  .group-container {
    position: absolute;
    font-size: var(--font-size-8xs);
  }
  .group-child15 {
    border: 0;
    background-color: var(--color-lightslategray);
    font-family: var(--font-inter);
    top: 77.45px;
    left: 958px;
    border-radius: var(--br-smi);
    width: 112px;
    height: 16.54px;
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .group-container {
    top: 216px;
    left: 166px;
    width: 964.27px;
    height: 301px;
    color: var(--color-darkgray);
  }
  .stage-1-lets {
    position: absolute;
    top: 99px;
    left: 540px;
    font-size: var(--font-size-11xl);
    color: var(--color-white);
  }
  .my-project-11 {
    position: absolute;
    top: 151px;
    left: 62px;
    width: 114px;
    height: 201px;
    background-image: url(./public/my-project-1@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .my-project-11:hover {
    animation: 1s ease 0s infinite normal none flip-horizontal-bottom;
    opacity: 1;
  }
  .stage1-inner {
    position: absolute;
    top: 50px;
    left: 51px;
    border-radius: var(--br-sm);
    background-color: var(--color-lavender);
    filter: blur(4px);
    width: 1420px;
    height: 731px;
    mix-blend-mode: screen;
  }
  .group-child16 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-31xl) var(--br-31xl) 0 var(--br-31xl);
    background-color: var(--color-lightslategray);
    width: 360px;
    height: 175px;
  }
  .you-are {
    color: var(--color-white);
  }
  .texts {
    color: var(--color-gold);
  }
  .you-are-50-texts {
    margin: 0;
  }
  .you-are-50-container {
    position: absolute;
    top: 0;
    left: 0;
  }
  .emoji-deciduous-tree {
    position: absolute;
    height: 31.25%;
    width: 10.24%;
    top: 65.74%;
    right: 15.02%;
    bottom: 3.01%;
    left: 74.74%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .you-are-50-texts-away-from-unl-parent {
    position: absolute;
    top: 34px;
    left: 39px;
    width: 293px;
    height: 108px;
  }
  .rectangle-parent6 {
    position: absolute;
    top: 560px;
    left: 864px;
    width: 360px;
    height: 175px;
    font-size: var(--font-size-11xl);
    color: var(--color-white);
  }
  .stage1-child1 {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 492px;
    left: 736px;
    width: 394px;
    height: 25px;
    overflow: hidden;
  }
  .my-project-1-21,
  .stage1-child2 {
    position: absolute;
    top: 447px;
    left: 23px;
    width: 362px;
    height: 431.65px;
    object-fit: cover;
  }
  .my-project-1-21 {
    top: 370px;
    left: 1200px;
    width: 325px;
    height: 293px;
  }
  .stage1 {
    position: relative;
    border-radius: var(--br-xl);
    background: linear-gradient(136.07deg, rgba(96, 0, 254, 0.2) 14.24%, rgba(38, 22, 54, 0.2) 85.15%), linear-gradient(247.45deg, #2F3036 1.63%, #0F142F 50.61%, #070A20 100%);
    width: 100%;
    height: 832px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  